@model UberTappDeveloping.ViewModels.VenuesViewModel
@using UberTappDeveloping.Helper.Roles

@*<style></style>*@
<link href="~/Content/KotsDisplay.css" rel="stylesheet" />
@*<style></style>*@

<body id="VenuesView" class="body">
    <div class="container-fluid">
        @if (Model.IsIndexAction)
        {
            <div id="TitleContainer" class="row">
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6">
                    <img id="VenueSignImg" src="~/Helper/Images/8.png" alt="Alternate Text" />
                    <img id="VenuesImg" src="~/Helper/Images/Venues.png" alt="Alternate Text" />
                    <img id="VenueSignImg" src="~/Helper/Images/8.png" alt="Alternate Text" />
                </div>
            </div>
        }
        else
        {
            <div id="TitleContainer" class="row">
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6">
                    <img id="VenueSignImg" src="~/Helper/Images/8.png" alt="Alternate Text" />
                    <img id="MyVenuesImg" src="~/Helper/Images/My_Venues.png" alt="Alternate Text" />
                    <img id="VenueSignImg" src="~/Helper/Images/8.png" alt="Alternate Text" />
                </div>
            </div>
        }

        <div class="row">
            @if (Model.IsIndexAction)
            {
                <div class="form-group col-md-4">
                    <img id="BarrelGermImg" src="~/Helper/Images/11.png" alt="Alternate Text" />
                </div>
            }
            else
            {
                <div class="form-group col-md-4">
                    <img id="BarrelImg" src="~/Helper/Images/7.png" alt="Alternate Text" />
                </div>
            }

            <div id="VenueField" class="form-group col-md-8">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Venue Name</th>
                            <th>Date Founded</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var venue in Model.Venues)
                        {
                            <tr>
                                <td>@venue.Name</td>
                                <td class="date">@venue.DateOpened.Value.ToString("dd MMMM yyyy")</td>
                                <td>@venue.Location.Display</td>
                                <td class="flex-area">
                                    @if (!Model.IsIndexAction || User.IsInRole(RoleNames.Admin))
                                    {
                                        <a class="btn btn-primary" href="@Url.Action("Edit","venue",new {id = venue.Id })">Edit</a>
                                    }

                                    <a href="@Url.Action("VenueProfile","venue",new {id = venue.Id })" class="btn btn-success">Profile</a>

                                    @if (User.IsInRole(RoleNames.BeerEnthusiast))
                                    {
                                        <a href="#" class="follow" data-venue-name="@venue.Name" data-venue-id="@venue.Id">
                                            @if (Model.FollowedVenues.Contains(venue.Id))
                                            {
                                                <span class="btn btn-info">Unfollow</span>
                                            }
                                            else
                                            {
                                                <span class="btn btn-primary">Follow</span>
                                            }
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

@section Scripts {

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/datatables-moment.js"></script>
    <script>

        $(document).ready(function () {



            $("table").on("click", ".follow", function (e) {//follow or unfollow ajax request when clicking the button
                console.log($(e.target).parent().attr("data-venue-id"));
                console.log($(e.target).text());


                if ($(e.target).text() == "Follow") {
                    $.post("/api/venueFollowings/" + $(e.target).parent().attr("data-venue-id"), function () {
                        console.log("send");
                    })
                        .done(function () {
                            $(e.target).text("Unfollow").removeClass("btn-primary").addClass("btn-info");
                            bootbox.alert("You are now following " + $(e.target).parent().attr("data-venue-name"));
                        })
                        .fail(function (e) {
                            console.log(e);
                            bootbox.alert(e.responseJSON.message);
                        });
                } else {
                    $.ajax({
                        url: "/api/venueFollowings/" + $(e.target).parent().attr("data-venue-id"),
                        method: "Delete"
                    })
                        .done(function () {
                            console.log(e.target);
                            $(e.target).text("Follow").removeClass("btn-info").addClass("btn-primary");
                            bootbox.alert("You have successfully Unfollowed " + $(e.target).parent().attr("data-venue-name"));
                        })
                        .fail(function () {
                            bootbox.alert("something went wrong");
                        });
                }

            });

            for (var date of $("tbody .date")) {//Change Date for Datatables to sort with Date
                console.log(new Date($(date).text()));
                $(date).html(moment(new Date($(date).text())).format("MMMM DD YYYY"));
            }

            $.fn.dataTable.moment("MMMM DD YYYY");
            $("table").DataTable();

        });
    </script>

}