@model UberTappDeveloping.Models.Beer
@using UberTappDeveloping.Helper.Roles
@*<style></style>*@
<link href="~/Content/KotsDisplay.css" rel="stylesheet" />
@*<style></style>*@

<body id="DetailsBeerView" class="body">
    <div class="container-fluid">

        <div id="TitleContainer" class="row">
            <div class="form-group col-md-12">
                <img id="OldBeerBottleImg" src="~/Helper/Images/2.png" alt="Alternate Text" />
                <img id="BeerInformationImg" src="~/Helper/Images/Beer_Information.png" alt="Alternate Text" />
                <img id="OldBeerBottleImg" src="~/Helper/Images/2.png" alt="Alternate Text" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group col-md-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.EBC)</th>
                            <th>@Html.DisplayNameFor(model => model.ABV)</th>
                            <th>@Html.DisplayNameFor(model => model.IBU)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.EBC)</td>
                            <td>@Html.DisplayFor(model => model.ABV)</td>
                            <td>@Html.DisplayFor(model => model.IBU)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> @Html.DisplayFor(model => model.Description)</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="row">
            <div id="BtnArea" class="form-group col-md-5">
                @if (User.IsInRole(RoleNames.Admin))
                {
                    <div class="btn btn-success form-group col-md-2">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                    </div>
                }

                <div class="btn btn-danger form-group col-md-3">
                    @Html.ActionLink("Back to List", "Beers", "Beer")
                </div>
            </div>

            <div class="form-group col-md-7">
                <img id="BeersTransp" src="~/Helper/Images/beers_transp.png" alt="Alternate Text" />
            </div>
        </div>

    </div>
</body>

