@using Microsoft.AspNet.Identity
@using UberTappDeveloping.Helper.Roles;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="~/Helper/Images/1.png">
    <title>UberTapp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UberTapp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", title = "Home" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Contact
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu12">
                            <li><a href="@Url.Action("Contact", "Home")">Development Team</a></li>
                            <li><a href="@Url.Action("EmailForm", "Home")">Report An Issue</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Beers
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu6">
                            @if (User.IsInRole(RoleNames.Admin)) // Admin & VenueOwner can add
                            {
                                <li><a href="@Url.Action("Beers", "Beer")">All Beers</a></li>
                                <li><a href="@Url.Action("Create", "Beer")">Add New Beer</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Beers", "Beer")">All Beers</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Venues
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (!User.IsInRole(RoleNames.Admin) && !User.IsInRole(RoleNames.VenueOwner))
                            {
                                <li><a href="@Url.Action("Index", "Venue")">All Venues</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "Venue")">All Venues</a></li>
                                <li><a href="@Url.Action("UserVenues", "Venue")">My Venues</a></li>
                                <li><a href="@Url.Action("New", "Venue")">Create Venue</a></li>
                                if (User.IsInRole(RoleNames.VenueOwner))
                                {
                                    <li><a href="@Url.Action("VenueBeers", "Venue")">Add Beers to Venues</a></li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Events
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            @if (!User.IsInRole(RoleNames.Admin) && !User.IsInRole(RoleNames.VenueOwner))
                            {
                                <li><a href="@Url.Action("Index", "Event")">All Events</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "Event")">All Events</a></li>
                                <li><a href="@Url.Action("VenueOwnerEvents", "Event")">My Events</a></li>
                                <li><a href="@Url.Action("New", "Event")">Add an Event</a></li>
                            }
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<footer>
                <p>&copy; @DateTime.Now.Year - UberTapp</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/lib")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
